.view-card-buttons {
    margin-right: 20px;
}

.view-card-content-title {
   font-size: 18px;
   padding-bottom: 10px;
}
.view-card-content-data {
    padding-left: 10px;
}

mat-card-header.mat-card-header {
    text-align: center;
    display: block;
}

mat-card{
    margin-bottom: 30px;    
}
